
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  
}
table tbody tr{
  border-top: hidden;
}

table thead tr{
  border-top: hidden;
} 






/* header start */

.header_wrapper {
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 90px;
  position: fixed !important;
  top: 0;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.search_bar {
  position: relative;
}

.inner_search{
  position: relative;
  border: 1px solid red;
  
}

.inner_search i{
  position: absolute;
  top: 38px;
  left: 345px;
}

.search_bar input {
  width: 600px;
  position: absolute;
  top: 20px;
  left: 330px;
  outline: none;
  border: none;
  background: #f3f3f5;
  padding: 5px 20px;
  border-radius: 50px;
  height: 50px;
  font-size: 18px;
  padding-left: 40px;
}

.user_login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_login .user_logo p {
  background: #ffae00;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 13px;
  cursor: pointer;
}

.notification i {
  margin-left: -35px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: rgb(223, 217, 217);
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification i:hover {
  background: rgb(202, 197, 197);
  padding: 10px;
  border-radius: 50%;
}
/*---------------Navbar Start-------------*/

.sidebar {
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  width: 240px;
  transition-duration: 0.5s;
  z-index: 2000;
  left: 0px;
  top: 0px;
  font-weight: bold;
  bottom: 0;
  overflow-y: auto;
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.sidebar_logo {
  background: white;
  position: fixed;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(153, 150, 150);
  margin-left: 5px;
}

.sidebar_logo img {
  width: 180px;
  margin-top: 10px;
  margin-left: 30px;
}

.sidebar ul li:hover{
  background: #8291dd8c;
  border-radius: 15px;
 
}


.sidebar ul li a {
  color: #000000;
  width: 100%;
  box-sizing: border-box;
  line-height: 60px;
  font-size: 19px;
  font-family: "Inter";
  text-decoration: none;
  font-weight: 500;
  
}

.sidebar ul li a img{
  margin-right: 13px;
  width: 20px;

}
.first_angle{
  margin-left: 10px;

}

.second_angle{
  margin-top: 25px;
  position: absolute;
  margin-left: -5px;

}

.sidebar ul li:first-child {
  margin-top: 68px;
}

.sidebar a:hover {
  text-decoration: none;
}

/*---------------Developing part--------------+*/

#check {
  display: none;
}

label #bars,
label #close {
  position: absolute;
  padding: 15px;
  transition-duration: 0.5s;
  cursor: pointer;
}

label #bars {
  left: 10px;
  top: 20px;
  position: fixed;
  background: none;
  width: 50px;
  color: black;
  padding: 10px;
  font-size: 26px;
  z-index: 98;
  padding: 10px;
  display: none;
}

label #close {
  top: 12px;
  z-index: 10;
  opacity: 0;
  color: black;
  position: fixed;
  /* left:190px; */
  left: 5px;
}

#check:checked ~ .sidebar {
  left: 0px;
}

#check:checked ~ label #bars {
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #close {
  position: fixed;
  z-index: 105000;
  opacity: 1;
}

.sidebar li {
  transition-duration: 0.5s;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
 
  padding-left: 20px;
}

.sidebar li:hover {
  background: rgb(241, 233, 233);
}

.collapse-item-sidebar li:hover {
  background-color: transparent;
}

.collapse-item-sidebar li a {
  margin-left: -15px;
  padding-left: 10px;
  border-bottom: 1px dotted lightgray;
  width: 90%;
  color: #555;
  font-size: 15px;
  font-family: "robto";
  border-radius: 5px;
  background: transparent;
}

.collapse-item-sidebar li a:hover {
  background: rgb(247, 240, 240);
}

.sidebar-search-bar input {
  width: 234px;
  border: none;
  outline: none;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border: 1px solid #006baf;
  padding: 4px;
  margin-left: -20px;
  margin-top: 10px;
  border-radius: 5px 0px 0px 5px;
}

.sidebar-search-bar i {
  background: #006baf;
  padding: 9px;
  color: white;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar-search-bar i:hover {
  background: #2e3191;
}



@media screen and (max-width:1020px) {
  .sidebar{
    left: -500px;
  }

  label #bars{
    display: block;
  }

  .search_bar input{
    width: 600px;
    left: 80px;
  }

  .main_body{
    margin-left: 0px;
  }

  .inner_search i{
    left: 95px;
  }

 
}

@media screen and (max-width:790px) {
  .search_bar input{
    width: 400px;
    left: 80px;
  }


}

@media screen and (max-width:580px) {
  .search_bar input{
    width: 300px;
    left: 80px;
  }
}

@media screen and (max-width:480px) {
  .search_bar input{
    width: 250px;
    left: 60px;
  }

  .inner_search i{
    left: 76px;
  }

  .user_login .user_logo p{
    width: 30px;
    height: 30px;
  }

}


@media screen and (max-width:385px) {
  .search_bar input{
    width: 200px;
    left: 60px;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
  }

}





/*---------------Navbar End----------------*/














/* main-body-div */
.main-body{
  margin-left: 240px;
  margin-top: 90px;
}
@media screen and (max-width:900px) {

.main-body{
  margin-left: 0px;

}



}

/* dashboard charts styles start */
.charts {
  position: relative;
  margin-top: 110px;
  background-color: rgb(255, 255, 255);
  padding:15px 20px ;
  padding-bottom: 20px;
}

#myChart {
  cursor: pointer;
  position: relative;
}
.main-Charts{
  margin-top: 1px;
}
.charts_head{
  display: flex;
 display: block;

 
 margin-left: 75px;
}
.charts_head img{
  width: 100px;
  height: 70px;
  filter: brightness(90%);
  margin-left: -95px;
  margin-top: -5px;
 
  position: relative;
}

.charts_head h3{
 
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
margin-top: -55px;
margin-left: -31px;
z-index: 1;
position: absolute;
}


.charts_head select{
  position: absolute;
  right: 30px;
  color: rgba(13, 14, 13, 0.534);
  font-size: 15px;
  font-weight: 500;
  padding: 5px 10px;
}


#p {
  color: red;
}

.middleOfChart {
  background-color:  rgba(236, 236, 242, 1);
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 60px;
  padding: 35px;
  position: absolute;
  margin-top: -130px;
  left: 80px;
 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.middleOfChart i {
  /* Icon */

  position: absolute;
  font-size: 23px;
}










/* second section styles */
.second_chart {
  background-color: rgb(253, 251, 251);
 
  padding: 26px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  height: 362px;
}
.second_chart_head {
  display: flex;
}
.second_chart_head h3 {
  color: rgba(17, 33, 29, 1);
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Inter';

}
.select {
  margin-left: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #11211d;
  cursor: pointer;
}
.select select {
  padding: 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.116);
  outline: none;
  border-radius: 5px;
}

.btn-div {
  position: absolute;
  right: 0px;
  display: flex;
}
.btn-div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #ececf2;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 10px 9px;
  cursor: pointer;
  margin-left: 3px;
}

.btn-div button img {
  height: 18px;
  width: 18px;
}
.btn-div button {
  background: #f4f6fa;
  mix-blend-mode: normal;
  border-radius: 6px;
  padding: 0px 12px;
  border: none;
  height: 40px;
  cursor: pointer;
  margin-right: 35px;
  margin-left: 5px;
}

.line_chart {
  margin-top: 40px;
}
.line_chart canvas {
  width: 600px;
  height: 200px;
}

@media screen and (max-width: 800px) {
  .second_chart_head h3 {
    font-size: 11px;
  }
  .btn-div button {
    display: none;
  }
  .select {
    font-size: 12px;
    margin-top: 0px;
  }
  .btn-div {
    margin-right: 25px;
  }
}




/* donutChart */
.donunt_chart h3{
  font-size: 21px;
  font-weight: 700;
  font-family: 'Inter';
}
.donunt_chart{
  background-color: white;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 9px;
  border-radius: 8px;
}







/* third section styles */

/* third section_FristP styles */

.third_sec_FristP {
  background-color: rgb(253, 251, 251);

  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  padding-left: 10px;
  padding-top: 6px;
}

.third_sec_FristP h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  
}

.third_sec_Ftable table thead tr th {
  font-family: "Inter";

  font-size: 13px;
  
}

.third_sec_Ftable table tbody tr td {
  font-size: 14px;
  justify-content: center;
  align-items: flex-end;
  font-family: "Inter";
}
.third_sec_Ftable table thead tr {
  border-top: hidden;
}

.third_sec_Ftable table tbody tr td img {
  width: 17px;
}
.third_sec_Ftable table tbody tr {
  border-top: hidden;
}




/* up site */
.third_secondSec_UpSite {
  background-color: rgb(253, 251, 251);
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
}

.upSite_head {
  display: flex;
}
.upSite_head h3 {
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  margin-top: -5px;
  color: #11211d;
}
.upSite_head button {
  position: absolute;
  right: 25px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #02030385;
}

.third_secondSec_UpSite table thead tr th {
  font-size: 12px;
  justify-content: center;
  align-items: flex-end;
  font-family: "Inter";
}
.third_secondSec_UpSite table tbody tr td {
  font-size: 12px;
  justify-content: center;
  align-items: flex-end;
  font-family: "Inter";
}
.third_secondSec_UpSite table tbody tr th{
  font-size: 1px;
}
.third_secondSec_UpSite table thead tr {
  border-top: hidden;
}

.third_secondSec_UpSite table tbody tr {
  border-top: hidden;
  position: relative;
}

.redSpan::before{
  content: "";
  
  top: 17px;
  position: absolute;
  width: 60px;
  height: 12px;
  background: #D50000;
  border-radius: 10px;
}
.greenSpan::before{
  content: "";
  top: 17px;
  position: absolute;
  width: 60px;
  height: 12px;
  background: #13D148;
  border-radius: 10px;
}

.graySpan::before{
  content: "";
  top: 17px;
  position: absolute;
  width: 60px;
  height: 12px;
  background: #D8D8D8;
  border-radius: 10px;
}



@media screen and (max-width:600px) {
  .third_secondSec_UpSite table thead tr th{
    font-size: 11px;
  }
  
}








/* downsite */

.third_sec_Down {
  background-color: rgb(253, 251, 251);

  padding: 15px 18px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 32px;
  width: 100%;
}

.down_head h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
}


.down_content{
  display: flex;
 
}

.down_content i{
font-size: 11px;
margin-left: 3px;
margin-top: 4px;
}

.down_content p{
  font-family: 'Inter';
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
  color: #11211D;
}


/*third_sec  third part */
.third_sec_thirdPart{
  background-color: rgb(253, 251, 251);

  padding: 15px 18px;
  box-sizing: border-box;
  border-radius: 5px;
 margin-top: 10px;
  width: 100%;

}
.thirdpart_head{
  display: flex;
}
.thirdpart_head h3{
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter";
}
.thirdpart_head button{
  position: absolute;
  right: 25px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #02030385;
}


.thirdPart_content b{
  font-family: "Inter";
  font-weight: 700;
  font-size: 17px;
  color: #11211D;


}

.thirdPart_content p{
  font-size: 16px;
  color: #11211D;
  font-family: 'Inter';
font-style: normal;

margin-top: -2px;
}

.thirdPart_content{
  margin-top: 12px;
}
.thirdPart_content button{
  border: none;
  background-color: white;
  color: #5160AC;
  font-family: 'Inter';
  margin-top: -20px;
 

}
.thirdPart_content button::before{
  content: "";
  background-color: black;
  width: 300px;
  height: 100px;
  left: 0px;
  top: 0px;
  color: black;
}












/* four_sec */
.four_sec{
  width: 100%;
}
.four_sec_fristPart{
  background-color: rgb(253, 251, 251);
  padding: 15px 18px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
  
}


.four_sec_head{
  display: flex;
}
.four_sec_head h3{
  font-size: 20px;
  font-family: "Inter";
  font-weight: 600;
}
.four_sec_content{
  position:absolute;
  right: 20px;

}

.four_sec_content button{
  border: none;
 padding: 7px;
 background: #ffb30018;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 border-radius: 8px;
 margin-left: 2px;
}

.four_sec_content button i{
  color: rgba(255, 174, 0, 1);
  border: 2px solid white;
  font-size: 10px;
  cursor: pointer;
}

.four_sec_content select{
  
  border-radius: 8px;
  padding: 5px;
  margin-left: 2px;
  font-family: 'Inter';
  cursor: pointer;
}
.chart10{
  margin-top: 20px;
}

@media screen and (max-width:600px) {
  .four_sec_head h3{
    font-size: 12px;
    margin-top: 10px;
  }
  
}


/* four_sec_upPart/down part*/
.four_sec_secondPart_up{
  background-color: white;
  
  padding: 10px 18px;
  
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}
.four_sec_secondPart_up b{
  font-size: 14px;
  font-family: 'Inter';
  
}

.four_sec_secondPart_up table {
font-size: 12px;
box-sizing: border-box;
}



/* dashboard charts styles end */
